@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
body{
background:#012745;
    background-size:cover;
    text-align:center;
    font-family: 'Sedgwick Ave Display', cursive;
}
.home{
    padding:5% 0px 5% 0px;
}
.projects{
    
    
    color:white;
}
.jumbotronthree{
    background:url("pics/lightningstar.gif");
    color:white;
    background:cover;
    margin:auto;
    text-align:center;
}
.jumbotronone{
background:url("pics/sexyspace.jpg");
background-size:cover;
color:white;
margin:auto;
}
.jumbotrontwo{
    background:url("pics/spacegif.gif");
    color:white;
    background:cover;
    margin:auto;
}