body{
    background:url("pics/stars3.jpg");
    background-size:cover;
   
}
.loader {
    border: 16px dotted #f3f3f3; /* Light grey */
    border-radius: 50%;
    width: 150px;
      border-top: 16px solid red;
 border-bottom: 16px solid blue; 
 border-right:16px solid green;
 border-left:16px solid purple;
 height: 150px;

    animation: spin 2s linear infinite;
 margin:auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
