@import url('https://fonts.googleapis.com/css?family=PT+Serif');
body{
    background:url("pics/stars3.jpg");
    background-size:cover;
    font-family: 'PT Serif', serif;
}
.first{
    color:gray;
    font-family: 'PT Serif', serif;
}
.pic{
  
    padding: 10% 5% 5% 5%;
 text-align:center;
}
.button{
    font-family: 'PT Serif', serif;
    text-align:center;
}
.linkedin{
    max-width:100px;
}